/*  
 * 2J Gallery			http://2joomla.net/wordpress-plugins/2j-gallery
 * Version:           	2.1.5 - 21259
 * Author:            	2J Gallery Team
 * Author URI:        	http://2joomla.net
 * License:           	GPL-2.0+
 * License URI:       	http://www.gnu.org/licenses/gpl-2.0.txt
 * Date:              	Mon, 05 Jun 2017 20:41:48 GMT
 */

.twoJGallery {
}

.twoJGallery .block {
}


.twoJGallery .block.twoJG_content {
}

.twoJGallery .block.twoJG_content .gallery-item {
}

.twoJGalleryCSSwrap .pagination-2j{

}
.twoJGalleryCSSwrap .breadcrumb-2j{
}

.twoJGallery .block.twoJG_breadcrumbs .up {}

.twoJGalleryCSSwrap .pagination-2j,
.twoJGalleryCSSwrap .breadcrumb-2j{
	margin: 0;
}

 .twoJGalleryCSSwrap a,
 .twoJGalleryCSSwrap a:link,
 .twoJGalleryCSSwrap a:focus{
	box-shadow: none;
	text-decoration: none;
}